<div *ngIf="profileDetails && educationType.length > 0 && iRoles.length > 0">
    <div class="row match-height">
        <div class="col-12 col-md-6">
            <tc-card>
                <form [formGroup]="basicForm" novalidate>
                    <div class="row">
                        <tc-form-group class="col-12">
                            <input type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput hidden>

                            <div class="d-sm-flex align-items-center">
                                <tc-avatar [src]="currentAvatar" [size]="100" class="mb-2 mb-sm-0"></tc-avatar>
                                <button
                                        tc-button
                                        [type]="'button'"
                                        [afterIcon]="'icofont-ui-user'"
                                        [view]="'info'"
                                        [outline]="true"
                                        (click)="fileInput.click()"
                                >
                                    Change photo
                                </button>
                            </div>
                        </tc-form-group>
                        <tc-form-group class="col-12 col-md-6">
                            <tc-form-label>First name</tc-form-label>
                            <tc-input [(ngModel)]="profileDetails.firstName" [ngModelOptions]="{standalone: true}"></tc-input>
                        </tc-form-group>

                        <tc-form-group class="col-12 col-md-6">
                            <tc-form-label>Last name</tc-form-label>
                            <tc-input [(ngModel)]="profileDetails.lastName" [ngModelOptions]="{standalone: true}"></tc-input>
                        </tc-form-group>

                        <tc-form-group class="col-12 col-md-6">
                            <tc-form-label>Middle name</tc-form-label>
                            <tc-input [(ngModel)]="profileDetails.middleName" [ngModelOptions]="{standalone: true}"></tc-input>
                        </tc-form-group>

                        <tc-form-group class="col-12 col-md-6">
                            <tc-form-label>Gender</tc-form-label>
                            <tc-select [placeholder]="'Simple select'" [options]="StudentService.gender" [selected]="profileDetails.gender"></tc-select>
                        </tc-form-group>

                        <tc-form-group class="col-12 col-md-6">
                            <tc-form-label>City</tc-form-label>
                            <tc-autocomplete [data]="autocompleteData" [key]="'country'" [placeholder]="'City'"
                                             [(ngModel)]="profileDetails.address" [ngModelOptions]="{standalone: true}"></tc-autocomplete>
                        </tc-form-group>

                        <tc-form-group class="col-12 col-md-6">
                            <tc-form-label>Birthday</tc-form-label>
                            <tc-input type="date" [ngModel]="profileDetails.birthday | date : 'yyyy-MM-dd'"
                                      (ngModelChange)="profileDetails.birthday=$event"
                                      [ngModelOptions]="{standalone: true}"></tc-input>
                        </tc-form-group>

                        <tc-form-group class="col-12 col-md-6">
                            <tc-form-label>Email</tc-form-label>
                            <tc-input [(ngModel)]="profileDetails.email" [placeholder]="'Email *'" [type]="'email'"
                                      [prefixIcon]="'icofont-at'" [ngModelOptions]="{standalone: true}"></tc-input>
                        </tc-form-group>
                        <tc-form-group class="col-12 col-md-6">
                            <tc-form-label>Roles</tc-form-label>
                            <tc-select [placeholder]="'Roles'" [options]="iRoles"
                                       [multiple]="true" [selected]="user_roles_selected"
                                       [(ngModel)]="user_roles_selected" [ngModelOptions]="{standalone: true}"></tc-select>
                        </tc-form-group>
                        <tc-form-group class="col-12 col-md-6">
                            <tc-form-label>Username</tc-form-label>
                            <tc-input [placeholder]="'Usernane'" [type]="'text'"  [prefixIcon]="'icofont-key'"
                                      [(ngModel)]="profileDetails.username"  [ngModelOptions]="{standalone: true}"></tc-input>
                        </tc-form-group>
                        <tc-form-group class="col-12 col-md-6">
                            <tc-form-label>Password</tc-form-label>
                            <tc-input [placeholder]="'Password'" [type]="'password'"  [prefixIcon]="'icofont-key'"
                            [(ngModel)]="profileDetails.password"  [ngModelOptions]="{standalone: true}"></tc-input>
                        </tc-form-group>
                        <tc-form-group class="col-12 col-md-6">
                            <tc-form-label>Enable</tc-form-label>
                            <tc-select [placeholder]="'Select type'" [options]="StudentService.enable"
                                       [selected]="profileDetails.enabled" [(ngModel)]="profileDetails.enabled"
                                       [ngModelOptions]="{standalone: true}"></tc-select>
                        </tc-form-group>
                        <tc-form-group class="col-12">
                            <tc-form-label>Description</tc-form-label>
                            <tc-textarea [placeholder]="'Description'" [height]="'8rem'"
                                         [(ngModel)]="profileDetails.description"
                                         [ngModelOptions]="{standalone: true}"></tc-textarea>
                        </tc-form-group>
                    </div>

                </form>
            </tc-card>
        </div>

        <div class="col-12 col-md-6">
            <tc-card>
                <div class="row">
                    <tc-form-group class="col-12 mb-0">
                        <tc-form-label>Social</tc-form-label>
                    </tc-form-group>
                    <div class="col-12" *ngIf="phones.length; else noPhones">
                        <div class="row">
                            <div class="col-12" *ngFor="let item of (phones || []);let i = index; trackBy:trackByFn">
                                <div class="row">
                                    <tc-form-group class="col-12 col-md-6">
                                        <tc-input [placeholder]="'Phone'" [type]="'text'" [prefixIcon]="'icofont-ui-cell-phone'"
                                                  [(ngModel)]="phones[i]" [id]="'phone_' + i" [name]="'phone_' + i"></tc-input>
                                    </tc-form-group>
                                    <tc-form-group class="col-12 col-md-6">
                                        <button tc-button (click)="removePhone(i)" [afterIcon]="'icofont-close'" [view]="'error'" [square]="true" class="mr-2"></button>
                                        <button tc-button (click)="addPhone()" [afterIcon]="'icofont-plus'" [view]="'info'" [square]="true" *ngIf="i == phones.length - 1"></button>
                                    </tc-form-group>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #noPhones>
                        <div class="col-12">
                            <div class="row">
                                <tc-form-group class="col-12 col-md-6">
                                    <button tc-button (click)="addPhone()" [afterIcon]="'icofont-plus'" [view]="'info'" [square]="true"></button>
                                </tc-form-group>
                            </div>
                        </div>
                    </ng-template>
                    <div class="col-12">
                        <tc-form-label>Socials</tc-form-label>
                    </div>
                    <div class="col-12 col-md-6" *ngFor="let item of socials; let i = index;">
                        <tc-form-group [ngSwitch]="item.title">
                            <tc-input [type]="'text'" *ngSwitchCase="'instagram'" [prefixIcon]="'icofont-instagram'" [(ngModel)]="item.link"></tc-input>
                            <tc-input [type]="'text'" *ngSwitchCase="'twitter'" [prefixIcon]="'icofont-twitter'" [(ngModel)]="item.link" [placeholder]="'Twitter'"></tc-input>
                            <tc-input [type]="'text'" *ngSwitchCase="'youtube'" [prefixIcon]="'icofont-brand-youtube'" [(ngModel)]="item.link" [placeholder]="'Youtube'" ></tc-input>
                            <tc-input [type]="'text'" *ngSwitchCase="'linkedin'" [prefixIcon]="'icofont-linkedin'" [(ngModel)]="item.link" [placeholder]="'Linkedin'"></tc-input>
                        </tc-form-group>
                    </div>

                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>English type</tc-form-label>
                        <tc-select [placeholder]="'Select type'" [options]="StudentService.english_type" [selected]="profileDetails.english_type" [(ngModel)]="profileDetails.english_type"></tc-select>
                    </tc-form-group>

                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>English point</tc-form-label>
                        <tc-input  *ngIf="profileDetails.english_type != 1; else englishSD" [placeholder]="'English value'" [(ngModel)]="profileDetails.english_value"></tc-input>
                        <ng-template #englishSD>
                            <tc-select [placeholder]="'Select type'" [options]="StudentService.english_st_title" [selected]="profileDetails.english_value" [(ngModel)]="profileDetails.english_value"></tc-select>
                        </ng-template>

                    </tc-form-group>

                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>Grants</tc-form-label>
                        <tc-select [options]="StudentService.grants" [selected]="profileDetails.grants" [(ngModel)]="profileDetails.grants"></tc-select>
                    </tc-form-group>

                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>Skills</tc-form-label>
                        <tag-input [(ngModel)]="skills" placeholder="SKILL+" theme='bootstrap'>
                            <tag-input-dropdown [autocompleteItems]="['item1', 'item2', 'item3']">
                            </tag-input-dropdown>
                        </tag-input>
                    </tc-form-group>
                </div>
            </tc-card>
        </div>
        <div class="col-12 col-md-6" *ngFor="let item of (profileDetails.education  || []); let i = index;">
            <tc-card>
                <div class="row">
                    <h5 class="col-12 mt-0 edu">Education</h5>
                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>University</tc-form-label>
<!--                        <tc-autocomplete [(ngModel)]="item.edu_type.title" [data]="educationType" [key]="'title'" [placeholder]="'University'"></tc-autocomplete>-->
                        <tc-select [placeholder]="'Select type'" [(ngModel)]="item.eduType.id" [options]="educationType" [selected]="item.eduType.id" [filter]="true"></tc-select>
                    </tc-form-group>
                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>Speciality</tc-form-label>
                        <tc-autocomplete [(ngModel)]="item.speciality" [data]="specs" [placeholder]="'Speciality'"></tc-autocomplete>
                    </tc-form-group>
                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>Course</tc-form-label>
                        <tc-input type="number" [(ngModel)]="item.course" [placeholder]="'Course'"></tc-input>
                    </tc-form-group>
                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>GPA</tc-form-label>
                        <tc-input [placeholder]="'GPA'" [(ngModel)]="item.gpa"></tc-input>
                    </tc-form-group>
                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>Begin</tc-form-label>
                        <tc-input type="date" [ngModel]="item.yearStart | date : 'yyyy-MM-dd'" (ngModelChange)="item.yearStart=$event" [ngModelOptions]="{standalone: true}"></tc-input>
                    </tc-form-group>
                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>End</tc-form-label>
                        <tc-input type="date" [ngModel]="item.yearEnd | date: 'yyyy-MM-dd'" (ngModelChange)="item.yearEnd=$event" [ngModelOptions]="{standalone: true}"></tc-input>
                    </tc-form-group>
                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>Status</tc-form-label>
                        <tc-select [placeholder]="'Select type'" [(ngModel)]="item.eduStatus.id" [options]="StudentService.univer_type" [selected]="item.eduStatus.id"></tc-select>
                    </tc-form-group>

                    <div class="col-12">
                        <button tc-button [afterIcon]="'icofont-trash'" [iconAnimation]="true" [view]="'error'" class="float-right" (click)="removeUniver(profileDetails, i)">Remove</button>
                    </div>
                </div>
            </tc-card>
        </div>

        <div class="col-12 col-md-6" *ngFor="let item of (profileDetails.experience  || []); let i = index;">
            <tc-card>
                <div class="row">
                    <h5 class="col-12 mt-0 exp">Experience</h5>
                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>University</tc-form-label>
                        <tc-autocomplete [(ngModel)]="item.title" [data]="autocompleteData" [key]="'country'" [placeholder]="'University'"></tc-autocomplete>
                    </tc-form-group>
                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>Speciality</tc-form-label>
                        <tc-autocomplete [(ngModel)]="item.speciality" [data]="autocompleteData" [key]="'country'" [placeholder]="'Speciality'"></tc-autocomplete>
                    </tc-form-group>
                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>Begin</tc-form-label>
                        <tc-input type="date" [ngModel]="item.yearStart | date: 'yyyy-MM-dd'" (ngModelChange)="item.yearStart=$event" [ngModelOptions]="{standalone: true}"></tc-input>
                    </tc-form-group>
                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>End</tc-form-label>
                        <tc-input type="date" [ngModel]="item.yearEnd | date: 'yyyy-MM-dd'" (ngModelChange)="item.yearEnd=$event" [ngModelOptions]="{standalone: true}"></tc-input>
                    </tc-form-group>

                    <div class="col-12">
                        <button tc-button [afterIcon]="'icofont-trash'" [iconAnimation]="true" [view]="'error'" class="float-right" (click)="removeExp(profileDetails, i)">Remove</button>
                    </div>
                </div>
            </tc-card>
        </div>

        <div class="col-12 col-md-6">
            <button tc-button [beforeIcon]="'icofont-plus'" [view]="'info'" class="mr-2" (click)="addUniver(profileDetails)">{{ 'Education' | translate }}</button>
            <button tc-button [beforeIcon]="'icofont-plus'" [tcBgColor]="'#3f51b5'" class="mr-2" (click)="addExp(profileDetails)">{{ 'Experience' | translate }}</button>
            <button tc-button (click)="openModal(modalBody, modalHeader, modalFooter, { closeButton: true, overlayClose: true })" class="mr-2" [beforeIcon]="'icofont-plus'" [tcBgColor]="'#3f51b5'">{{ 'Submit' | translate }}</button>
            <button tc-button [view]="'error'" (click)="deleteProfile()">{{ 'Delete' | translate }}</button>
        </div>
    </div>
</div>
<ng-template #noStudent>
    <div class="row">
        <div class="col-md-12">
            Loading...
        </div>
    </div>
</ng-template>

<ng-container>
    <ng-template #modalHeader>
        <h2 class="title">{{ 'Student save title' | translate }}</h2>
    </ng-template>

    <ng-template #modalBody>
        <p>{{ 'Student save desc' | translate }}</p>
    </ng-template>

    <ng-template #modalFooter>
        <div class="actions" [ngStyle]="{textAlign: 'right', display: 'block'}">
            <button tc-button [view]="'error'" (click)="closeModal()">{{ 'Close' | translate }}</button>
            <button tc-button [view]="'success'" (click)="submitModal()">{{ 'Submit' | translate }}</button>
        </div>
    </ng-template>
</ng-container>
