:host {
  .month-btn {
    display: flex;
    justify-content: flex-start;
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;

    tc-badge {
      cursor: pointer;
      margin: 5px 10px;
    }
    tc-badge:hover {
      background-color: #40a9ff !important;
    }
  }
}
