@import '../../../../../../assets/sass/variables';

:host {
  .row-flex {
    display: flex;
    flex-flow: wrap;
  }
  .match-height tc-card {
    height: calc(100% - 24px);
  }

  h5.edu {
    color: #086dda;
  }
  h5.exp {
    color: #53b324;
  }

  .ref-values {
    background-color: rgba(47,167,255,.1);
    background-clip: padding-box;
    color: #2fa7ff;
    border-radius: 20px;
    padding: calc(0.7142857143rem - 1px) calc((1.4285714286rem / 2) - 0.2em) calc(0.7142857143rem - 1px) calc(1.4285714286rem - 0.2em);
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

    button {
      background: transparent;
      border: none;
    }
    .ref-text {
      i {
        cursor: move;
      }

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .mt-minus {
    margin-top: -$module-rem * 2;
  }


  .filter-list {

    .row {
      border-bottom: 1px solid #ccc;
    }

    .action-row {
      border-bottom: none;
      justify-content: flex-end;
    }
  }

}

