<div>
    <div class="row">
        <div class="col-12">
            <tc-card>
                <div class="row">
                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>Group Name</tc-form-label>
                        <tc-input [(ngModel)]="groupEng.title" [ngModelOptions]="{standalone: true}"></tc-input>
                    </tc-form-group>
                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>City</tc-form-label>
                        <tc-autocomplete [data]="autocompleteData" [key]="'country'" [placeholder]="'City'"
                                         [(ngModel)]="groupEng.city" [ngModelOptions]="{standalone: true}"></tc-autocomplete>
                    </tc-form-group>
                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>English type</tc-form-label>
                        <tc-select [placeholder]="'Roles'" [options]="studentService.english_type"
                                   [multiple]="false" [(ngModel)]="groupEng.englishType" [ngModelOptions]="{standalone: true}"></tc-select>
                    </tc-form-group>
                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>English point</tc-form-label>
                        <tc-input  *ngIf="groupEng.englishType != 1; else englishSD" [placeholder]="'English value'" [(ngModel)]="groupEng.englishLevel" [ngModelOptions]="{standalone: true}"></tc-input>
                        <ng-template #englishSD>
                            <tc-select [placeholder]="'Select type'" [options]="studentService.english_st_title" [(ngModel)]="groupEng.englishLevel" [ngModelOptions]="{standalone: true}"></tc-select>
                        </ng-template>

                    </tc-form-group>

                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>Begin</tc-form-label>
                        <tc-input type="date" [ngModel]="groupEng.startDate | date : 'yyyy-MM-dd'" (ngModelChange)="groupEng.startDate=$event" [ngModelOptions]="{standalone: true}"></tc-input>
                    </tc-form-group>

                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>Total hours</tc-form-label>
                        <tc-input type="number" [placeholder]="'hours'" [(ngModel)]="groupEng.totalHour" [ngModelOptions]="{standalone: true}"></tc-input>
                    </tc-form-group>

                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>Week days</tc-form-label>
                        <tc-select [placeholder]="'Week days'" [options]="days"
                                   [multiple]="true" [(ngModel)]="groupEng.wdays" [ngModelOptions]="{standalone: true}"></tc-select>
                    </tc-form-group>

                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>Teacher</tc-form-label>
                        <div class="col-12 studSlc">
                            <button tc-button [beforeIcon]="'icofont-plus'" [view]="'info'" class="mb-2" (click)="openModal(modalBodyTeacher, '', modalFooter, { closeButton: true, width: '100%' })">Teacher</button>
                        </div>
                        <div class="profile-selected col-12 mb-2" *ngFor="let item of teacher; let i = index;">
                            <span class="profile-name" (click)="selectTeam(item.id)">
                                {{ item.fio }}
                            </span>
                            <button class="no-style close ng-star-inserted" (click)="removeStudent(item.id)"><i class="icofont-close-line"></i></button>
                        </div>
                    </tc-form-group>

                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>Description</tc-form-label>
                        <tc-textarea [placeholder]="'Description'" [height]="'8rem'" [(ngModel)]="groupEng.description" [ngModelOptions]="{standalone: true}"></tc-textarea>
                    </tc-form-group>

                    <tc-form-group class="col-12 col-md-6">
                        <tc-form-label>Список студентов</tc-form-label>
                        <div class="col-12 studSlc">
                            <button tc-button [beforeIcon]="'icofont-plus'" [view]="'info'" class="mb-2" (click)="openModal(modalBody, '', modalFooter, { closeButton: true, width: '100%' })">Students</button>
                            <span *ngIf="studentsSelected.length">Количество студентов: {{studentsSelected.length}}</span>
                        </div>
                        <div class="profile-selected col-12 mb-2" *ngFor="let item of studentsSelected; let i = index;"
                             [className]="item.teamLead ? 'success profile-selected col-12 mb-2' : 'profile-selected col-12 mb-2'">
                            <span class="profile-name" (click)="selectTeam(item.id)">
                                {{ item.fio }}
                            </span>
                            <button class="no-style close ng-star-inserted" (click)="removeStudent(item.id)"><i class="icofont-close-line"></i></button>
                        </div>
                    </tc-form-group>

                </div>
            </tc-card>
            <div class="col-12 col-md-12">
                <button tc-button class="col-12" [view]="'success'" (click)="openModal(modalBodySave, modalHeader, modalFooterSave, { closeButton: true, width: '100%' })">Submit</button>
            </div>
        </div>
    </div>
</div>

<ng-container>
    <ng-template #modalHeader class="modal">
        <h2 class="title">Modal title</h2>
        <div class="actions">
            <tc-badge [view]="'warning'">New</tc-badge>
        </div>
    </ng-template>

    <ng-template #modalBody>
        <profiles-mini-list [studentsSelected]="studentsSelected"></profiles-mini-list>
    </ng-template>

    <ng-template #modalBodyTeacher>
        <profiles-mini-list
                [studentsSelected]="teacher"
                [role]="'teacher-english'"
        ></profiles-mini-list>
    </ng-template>

    <ng-template #modalBodySave>
    </ng-template>

    <ng-template #modalFooter>
        <div class="actions" [ngStyle]="{textAlign: 'right', display: 'block'}">
<!--            <button tc-button [view]="'error'" (click)="closeModal()">Close</button>-->
            <button tc-button [view]="'success'" (click)="submitModal()">Submit</button>
        </div>
    </ng-template>

    <ng-template #modalFooterSave>
        <div class="actions" [ngStyle]="{textAlign: 'right', display: 'block'}">
            <!--            <button tc-button [view]="'error'" (click)="closeModal()">Close</button>-->
            <button tc-button [view]="'success'" (click)="submitModalSave()">Submit</button>
        </div>
    </ng-template>
</ng-container>
