@import '../../../../../../assets/sass/variables';

.row-flex {
  display: flex;
  flex-flow: wrap;
}
.match-height tc-card {
  height: calc(100% - 24px);
}

h5.edu {
  color: #086dda;
}
h5.exp {
  color: #53b324;
}
.bslide {
  font-size: 18px;
  cursor: pointer;
}
.align-right {
  text-align: right;
}
.hide-side {
  display: none;
}
.lesson-item {
  transition: all .4s linear;
}
.teacher {
  width: 100%;
}

:host {
  ::ng-deep {
    .upload-list-inline {
      .ant-upload-list-item {
        float: left;
        width: 200px;
        margin-right: 8px;
      }
    }
    .ant-upload-drag {
      padding: 0 ($module-rem / 2) !important;
    }
  }
  .avatar {
    width: 128px;
    height: 128px;
  }
  .upload-icon {
    font-size: 32px;
    color: #999;
  }
  .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }
}
