<tc-card class="mb-0" [padding]="'0'">
    <tc-form-group class="mb-0 filter">
        <div class="row">
            <tc-form-group class="col-12 col-md-6">
                <tc-form-label>Book Title</tc-form-label>
                <tc-input [(ngModel)]="searchBook" placeholder="Search book" [ngModelOptions]="{standalone: true}"></tc-input>
            </tc-form-group>
        </div>
    </tc-form-group>
    <nz-table
        #basicTable
        [nzData]="books"
        [nzShowPagination]="true"
        [nzPageSize]="pageSize"
        [nzTotal]="totalData"
        [nzLoading]="loading"
        [nzPageIndex]="pageIndex"
        [nzFrontPagination]="false"
        (nzPageIndexChange)="onChangePageIndex($event)"
    >
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Creator</th>
            <th>Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data; let index = index;"
            class="mainTable">
            <td>
                <div class="person-block d-flex align-items-center">
                    <span class="mr-3">{{ (pageSize * (pageIndex - 1)) + index + 1 }}.</span>
                    <tc-avatar [src]="data.imgStorage"></tc-avatar>
                    <span>{{ data.title }}</span>
                </div>
            </td>
            <td>{{ data.description.length > 47 ? (data.description | slice : 0 : 50) + '...' : data.description }}</td>
            <td>{{ data.category }}</td>
            <td>{{ fieldService.getStructureFio(data.creator) }}</td>
            <td>{{ (data.updatedAt !== null ? data.updatedAt : data.createdAt) | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
            <td>
                <a [routerLink]="['/vertical/reads/admin/quiz', data.id, 'list']">
                    <button tc-button
                            class="mr-2"
                            [view]="'warning'"
                            [size]="'sm'"
                            [tcShape]="7">
                        Quiz
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </nz-table>
</tc-card>

<!--<button class="no-style settings-btn"-->
<!--        (click)="gotoByUrl('/vertical/admin-panel/reference/create')">-->
<!--    <span class="pulse"></span>-->
<!--    <tc-icon-->
<!--            class="settings-icon"-->
<!--            [iconClass]="'icofont-plus'"-->
<!--            [tcFontSize]="26"-->
<!--            [padding]="'2px 0'"-->
<!--    ></tc-icon>-->
<!--</button>-->
