<!--&lt;!&ndash;[square]="true"&ndash;&gt;-->
<!--<div>-->
<!--    <div class="row">-->
<!--        <div class="col-12 col-md-12">-->
<!--            <tc-card>-->
<!--                <div class="col-12 d-flex mb-2">-->
<!--                    <button tc-button [align]="'right'" (click)="addMenu()" [afterIcon]="'icofont-plus'" [view]="'info'"-->
<!--                            class="mr-2">{{'Menu'|translate}}</button>-->
<!--                    <button tc-button [align]="'right'" (click)="addGroup()" [afterIcon]="'icofont-plus'" [view]="'info'"-->
<!--                            class="mr-2">{{'Group'|translate}}</button>-->
<!--                    <tc-form-group>-->
<!--                        <tc-checkbox [(ngModel)]="menuChecked" (change)="menuChecked = !menuChecked">{{'Menu'|translate}}</tc-checkbox>-->
<!--                        <tc-checkbox [(ngModel)]="groupChecked" (change)="groupChecked = !groupChecked">{{'Group'|translate}}</tc-checkbox>-->
<!--                    </tc-form-group>-->
<!--                </div>-->

<!--                <menu-list *ngIf="menuChecked" [data]="menus"></menu-list>-->

<!--                <menu-list *ngIf="groupChecked" [data]="group"></menu-list>-->
<!--            </tc-card>-->
<!--        </div>-->
<!--    </div>-->
<!--    <button class="no-style settings-btn first  "-->
<!--            (click)="view()">-->
<!--        <span class="pulse"></span>-->
<!--        <tc-icon-->
<!--                class="settings-icon"-->
<!--                [iconClass]="'icofont-navigation-menu'"-->
<!--                [tcFontSize]="26"-->
<!--                [padding]="'2px 0'"-->
<!--        ></tc-icon>-->
<!--    </button>-->
<!--    <div class="no-style settings-btn second "-->
<!--            (click)="role()">-->
<!--        <span class="pulse"></span>-->
<!--        <tc-icon-->
<!--                class="settings-icon"-->
<!--                [iconClass]="'icofont-user'"-->
<!--                [tcFontSize]="26"-->
<!--                [padding]="'2px 0'"-->
<!--        ></tc-icon>-->
<!--    </div>-->
<!--</div>-->
