<tc-card class="mb-0" [padding]="'0'">
    <nz-table
        #basicTable
        [nzData]="questions"
        [nzShowPagination]="true"
        [nzPageSize]="pageSize"
        [nzTotal]="totalData"
        [nzLoading]="loading"
        [nzPageIndex]="pageIndex"
        [nzFrontPagination]="false"
        (nzPageIndexChange)="onChangePageIndex($event)"
    >
        <thead nzSingleSort (nzSortChange)="onChangeSort($event)">
        <tr>
            <th>#</th>
            <th>Description</th>
            <th nzShowSort nzSortKey="type">Type</th>
            <th>Creator</th>
            <th nzShowSort nzSortKey="createdAt">Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data; let index = index;"
            class="mainTable">
            <td>{{ (pageSize * (pageIndex - 1)) + index + 1 }}.</td>
            <td><div [innerHTML]="data.description"></div></td>
            <td>
                <div [ngSwitch]="data.type">
                    <span *ngSwitchCase="1">Test</span>
                    <span *ngSwitchCase="2">Multiple choice</span>
                    <span *ngSwitchCase="3">Fill in the blanks</span>
                    <span *ngSwitchCase="4">Match the words</span>
                    <span *ngSwitchCase="5">Pull in an order</span>
                </div>
            </td>
            <td>{{ fieldService.getStructureFio(data.creator) }}</td>
            <td>{{ (data.createdAt) | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
            <td>
                <a [routerLink]="['/vertical/reads/admin/quiz/edit', data.id]">
                    <button tc-button
                            class="mr-2"
                            [view]="'warning'"
                            [size]="'sm'"
                            [tcShape]="7">
                        Edit
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </nz-table>
</tc-card>

<button class="no-style settings-btn"
        (click)="gotoByUrl('/vertical/reads/admin/quiz/add/' + bookId)">
    <span class="pulse"></span>
    <tc-icon
            class="settings-icon"
            [iconClass]="'icofont-plus'"
            [tcFontSize]="26"
            [padding]="'2px 0'"
    ></tc-icon>
</button>
