.row-flex {
  display: flex;
  flex-flow: wrap;
}
.match-height tc-card {
  height: calc(100% - 24px);
}

h5.edu {
  color: #086dda;
}
h5.exp {
  color: #53b324;
}

::ng-deep {
  .select-list {
    padding: 5px 0 !important;

    .options {
      padding: 0 10px !important;

      .option {
        padding: 3px 0 !important;
      }
    }
  }
}
