<tc-card class="mb-0" [padding]="'0'">
    <tc-card class="mb-0 pb-0" [title]="'Filter'">
        <tc-form-group class="mb-0 pb-0">
            <div class="row">
                <div class="col-12">
<!--                    <div class="showTotal">-->
<!--                        {{ tableData | todoFilter: searchStr : 'fio' |-->
<!--                        FilterArray: selectedCity | todoFilter: searchSpec : 'speciality' }}-->
<!--                    </div>-->
                </div>
                <div class="col-md-2 mb-2">
                    <tc-autocomplete [data]="tableData" [key]="'fio'" [placeholder]="'Name'" [(ngModel)]="searchStr"></tc-autocomplete>
                </div>
                <div class="col-md-2 mb-2">
                    <tc-autocomplete [data]="speciality" [key]="'name'" [placeholder]="'Speciality'" [(ngModel)]="searchSpec"></tc-autocomplete>
                </div>
                <div class="col-md-3 mb-2">
                    <ng-select *ngIf="cities.length" [items]="cities" bindLabel="name" bindValue="name" [multiple]="true" placeholder="Select cities"
                       [(ngModel)]="selectedCity">
                    </ng-select>
                </div>
            </div>
        </tc-form-group>
    </tc-card>

    <nz-table
        #basicTable
        [nzData]="tableData | todoFilter: searchStr : 'fio' |
            FilterArray: selectedCity | todoFilter: searchSpec : 'speciality'"
        [nzShowPagination]="true"
        [nzPageSize]="20"
        [nzTotal]="102"
        [nzLoading]="loading"
        [nzPageIndex]="pageIndex"
        (nzPageIndexChange)="onChangePageIndex($event)"
    >
        <thead nzSingleSort (nzSortChange)="sortTest($event)">
        <tr>
            <th nzShowSort nzSortKey="fio">Аты-жөні</th>
            <th nzShowSort nzSortKey="address">Қала</th>
            <th nzShowSort nzSortKey="title">Университет</th>
            <th nzShowSort nzSortKey="speciality">Мамандық</th>
            <th nzShowSort nzSortKey="course">Курс</th>
            <th nzShowSort nzSortKey="gender">Ер/қыз</th>
        </tr>
        </thead>
        <tbody>
<!--        <tr *ngFor="let data of tableData | todoFilter: searchStr: 'name' |-->
<!--            todoFilter: searchSpec : 'speciality' | FilterArray: selectedCity | orderBy: sort_value : sort_key;"-->
<!--        class="mainTable" (click)="gotoProfile(data.id)">-->
        <tr *ngFor="let data of basicTable.data"
        class="mainTable" (click)="gotoProfile(data.id)">
            <td>{{ data.fio }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.title }}</td>
            <td>{{ data.speciality }}</td>
            <td>{{ data.course }}</td>
            <td>
                <span *ngIf="data.gender == 1; else Female">Ер</span>
                <ng-template #Female>Қыз</ng-template>
            </td>
        </tr>
        </tbody>
    </nz-table>
</tc-card>
