<ul class="list" *ngIf="data && data.length" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

    <li *ngFor="let item of data; let index = index;" cdkDrag  >
      <div class="d-flex mb-2">
        <tc-input [(ngModel)]="item.title" class="mr-2" [placeholder]="'Topic title'"></tc-input>
        <button tc-button (click)="toggle(index)" [afterIcon]="iconString" [view]="'info'" [square]="true" class="mr-2"></button>
        <a [routerLink]="['/vertical/community/admin/problem/add/', item.id]" tc-button [afterIcon]="iconString" [view]="'success'" [square]="true" class="mr-2 text-white"></a>
        <button tc-button (click)="removeTopic(index)" [afterIcon]="'icofont-close'" [view]="'error'" [square]="true" class="mr-2"></button>
        <button tc-button *ngIf="item.id != null && item.id != ''" (click)="addChildren(item.children, item.id)" [afterIcon]="'icofont-plus'" [view]="'info'" [square]="true" class="mr-2"></button>
        <button tc-button (click)="saveTopic(item, index)" [afterIcon]="icon[index] !== undefined ? icon[index] : waitIcon"
                [view]="color[index] !== undefined ? color[index] : waitColor" [square]="true"></button>
      </div>

      <topic-list-item *ngIf="item.hidden == false" [data]="item.children"></topic-list-item>
    </li>
</ul>


<ng-container>
  <ng-template #modalBody>
    <p>Are you sure?</p>
  </ng-template>

  <ng-template #modalFooter>
    <div class="actions" [ngStyle]="{textAlign: 'right', display: 'block'}">
      <button tc-button [view]="'error'" (click)="closeModal()">Close</button>
      <button tc-button [view]="'success'" (click)="removeTopic()">Submit</button>
    </div>
  </ng-template>
</ng-container>
