<tc-card class="mb-0" [padding]="'20px 0'" *ngIf="!isEmpty">
    <div class="filter">
        <div class="filter-table">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="d-flex">
                        <button tc-button class="mb-2"
                                *ngIf="fastEditEnable && canAdd"
                                (click)="fastAddRecord()"
                                [afterIcon]="'icofont-plus'"
                                [view]="'info'"
                                [size]="'sm'"
                                [square]="true"
                        ></button>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="d-flex filter-right">
                        <div class="search d-flex mb-2">
                            <tc-input
                                    [(ngModel)]="searchValue"
                                    [placeholder]="'Search'|translate"
                                    [suffixIcon]="'icofont-search'"
                            ></tc-input>
                            <button tc-button class="ml-1"
                                    [afterIcon]="'icofont-search'"
                                    [view]="'info'"
                                    [square]="true"
                                    (click)="searchParam()"
                            ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nz-table
        #basicTable
        [nzData]="dataRecord.length ? dataRecord : []"
        [nzShowPagination]="false"
        [nzPageSize]="pageSize"
        [nzTotal]="dataRecord.length"
        [nzLoading]="loading"
        [nzShowTotal]="totalTpl"
        (nzPageIndexChange)="onChangePageIndex($event)"
    >
        <thead>
        <tr>
            <th width="70px">#</th>
            <th>
                {{'Title'|translate}}
            </th>
            <th>
                {{'Author'|translate}}
            </th>
            <th>
                {{'Category'|translate}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of (basicTable.data.length ? basicTable.data : []) ; let index = index; trackBy: identify"
            class="mainTable">
            <td>
                <tc-checkbox
                    [ngStyle]="{'opacity': (checkData[index]? 1 : .0)}"
                    [(ngModel)]="checkData[index]"
                    [value]="checkData[index]"
                    class="check-table"
                ></tc-checkbox>
            </td>
            <td (click)="goTo($event, prepareNavigateLink(data['id']))">
                {{ data['display_name'] }}
            </td>
            <td (click)="goTo($event, prepareNavigateLink(data['id']))">
                {{ mapToString(data['author']) }}
            </td>
            <td (click)="goTo($event, prepareNavigateLink(data['id']))">
                {{ mapToString(data['category   ']) }}
            </td>
        </tr>
        </tbody>
    </nz-table>
    <ng-template #totalTpl let-totalData>{{'Total'|translate}}{{ ': ' + totalData}}</ng-template>
</tc-card>

<button class="no-style settings-btn"
        *ngIf="canAdd"
        [routerLink]="prepareNavigateLinkCreate()">
    <span class="pulse"></span>
    <tc-icon
            class="settings-icon"
            [iconClass]="'icofont-plus'"
            [tcFontSize]="26"
            [padding]="'2px 0'"
    ></tc-icon>
</button>

<nz-empty *ngIf="isEmpty"
          [nzNotFoundImage]="
        'https://gw.alipayobjects.com/mdn/miniapp_social/afts/img/A*pevERLJC9v0AAAAAAAAAAABjAQAAAQ/original'
      "
          [nzNotFoundContent]="contentTpl"
          [nzNotFoundFooter]="footerTpl"
>
    <ng-template #contentTpl>
        <span> Customize <a href="#API">Description</a> </span>
    </ng-template>
    <ng-template #footerTpl>
    </ng-template>
</nz-empty>



