<div class="row" *ngIf="course != null && moduleLoaded">
    <div class="col-12">
        <div class="ratio ratio-219" [ngStyle]="{backgroundImage: 'url(' + course.image + ')'}">
        </div>
        <div class="layer">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4 class="title-course mt-0">{{course.title}}</h4>
                    <div class="d-md-flex mb-3" [ngStyle]="{lineHeight: '26px'}">
                        <div class="d-flex">
                            <tc-rating [value]="course.rating | number: '1.0-0'" [tcFontSize]="16" [color]="['#ccc','#ffe941','#ffbd41']"
                                [ngStyle]="{marginTop: '3px'}" [disabled]="true"></tc-rating>
                            <span class="ml-3 font-weight-bold" [ngStyle]="{color: '#ffbd41'}">{{ course.rating }}</span>
                        </div>
                        <span class="ml-md-4">Оценки: {{ course.leftRatings }}</span>
                        <span class="ml-3 mr-3">|</span>
                        <tc-icon class="mr-2" [iconClass]="'sli-like tc-icon-wrap'" [tcFontSize]="16"></tc-icon>
                        <span>0%</span>
                    </div>
<!--                    <div class="d-flex avatar" [ngStyle]="{lineHeight: '36px'}">-->
<!--                        <tc-avatar [src]="'assets/content/user-40-3.jpg'"></tc-avatar>-->
<!--                        <span>Zhassulan Suiebayev</span>-->
<!--                    </div>-->
                </div>
                <div class="col-12 col-md-6 d-none d-md-block">
                    <p>от партнера</p>
                    <tc-avatar *ngIf="course.company.logo != null" [src]="course.company.logo" [size]="100" [bgColor]="'#ffffff'"></tc-avatar>
                    <h5 *ngIf="!course.company.logo">{{course.company.title}}</h5>
                </div>
                <div class="join-button">
                    <button tc-button [tcBorderStyle]="'2px solid #ffffff'"
                            [tcBgColor]="'#ffffff'" [tcColor]="'#000000'"
                            [beforeIcon]="course.isJoined ? 'sli-logout tc-icon-wrap' : 'sli-login tc-icon-wrap'"
                            (click)="course.isJoined ? unjoinCourse() : joinCourse()">{{ course.isJoined ? 'Unjoin' : 'Join' }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 menu-col mb-4 d-none d-md-block">
        <ul class="menu d-flex">
            <li><a href="#">О проекте</a></li>
            <li><a href="#">Преподаватели</a></li>
            <li><a href="#modules">Программа курса</a></li>
            <li><a href="#">Часто задаваемые вопросы</a></li>
        </ul>
    </div>
    <div class="col-12 mb-4">
        <div class="row">
            <div class="col-12 col-lg-9 mb-4">
                <div class="main-course">
                    <h5 class="mb-0">Об этом курсе</h5>
<!--                    <p>Недавно просмотрено: 50 603</p>-->
                    <div *ngIf="course.introVideo && course.introVideo !== ''" class="video-intro" [ngStyle]="{maxWidth: '640px'}">
                        <div class="ratio-169 mb-4">
                            <iframe class="ratio-responsive" [src]="course.introVideo | safeUrl"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <p class="description mb-4">{{ course.introDescription }}</p>
            <!--        <div class="progress-outer"></div>-->
            <!--        <div class="process-right-radius"></div>-->
            <!--        <div class="progress-card" [ngStyle]="{width: '80%'}"></div>-->
                </div>
            </div>

            <div class="col-12 col-lg-3 mb-4">
                <tc-card class="mb-md-0 card">
                    <h5 class="mt-0">Преподаватели</h5>
                    <div *ngFor="let teacher of teachers; let t = index;" class="d-flex avatar mb-4" [ngStyle]="{lineHeight: '75px'}">
                        <tc-avatar [src]="teacher.image ? teacher.image : 'assets/content/avatar-default.png'" [size]="75"></tc-avatar>
                        <span [tcFontSize]="16">{{ teacher.fio }}</span>
                    </div>
                </tc-card>
            </div>
        </div>
    </div>

    <div class="col-12 main-course" id="modules">
        <div class="row">
            <div class="col-12 col-lg-9">
                <tc-card class="course-modules">
                    <div *ngIf="course.isJoined">
                        <div class="progress-outer"></div>
                        <div class="process-right-radius"></div>
                        <div class="progress-card" [ngStyle]="{width: (course.progress == null ? 0 : course.progress) + '%',
                            borderTopRightRadius: (course.progress == 100) ? '6px' : 0}"></div>
                    </div>
                    <div class="d-flex justify-content-between status-course">
                        <div class="d-flex justify-start">
                            <div class="mr-2 mr-md-5 options-course">
                                <tc-icon class="mr-2 pl-0" [iconClass]="'sli-clock tc-icon-wrap'" [tcFontSize]="iconSize"></tc-icon>
                                <span>{{ course.allTime }} часов</span>
                            </div>
                            <div class="mr-2 mr-md-5 options-course">
                                <tc-icon class="mr-2" [iconClass]="'sli-drawer tc-icon-wrap'" [tcFontSize]="iconSize"></tc-icon>
                                <span>{{ modules.length }} модулей</span>
                            </div>
                            <div class="mr-2 mr-md-3 options-course d-none d-sm-block">
                                <tc-icon class="mr-2" [iconClass]="'sli-layers tc-icon-wrap'" [tcFontSize]="iconSize"></tc-icon>
                                <span>{{ course.allLesson }} урок</span>
                            </div>
                        </div>
                        <div class="ml-3 options-course" *ngIf="course.isJoined">
                            <span>Пройден на {{ course.progress}}%</span>
                        </div>
                    </div>
                    <div class="content-course">
                        <h5>Что вы узнаете на курсе?</h5>
<!--                        <p>{{course.description}}</p>-->
                        <p>{{ course.description }}</p>
                    </div>
                </tc-card>

                <tc-card class="course-modules" *ngFor="let moduleItem of modules; let i = index;">
                    <div class="row">
                        <div class="col-10">
                            <span class="module-order">Модуль {{ i + 1 }}</span>
                            <h5>{{ moduleItem.title }}</h5>
                            <p>{{ moduleItem.description }}</p>
                            <a *ngIf="isAdmin" [routerLink]="['/vertical/courses/admin/course/add/lesson/', id, moduleItem.id]" class="">
                                <button tc-button [afterIcon]="'icofont-plus'" [view]="'info'" [square]="true"></button>
                            </a>
                        </div>
                        <div class="col-2 acc-icon">
                            <tc-icon class="mr-2 accordion-icon" [iconClass]="accordion[i] ? 'sli-arrow-up tc-icon-wrap' : 'sli-arrow-down tc-icon-wrap'"
                                     [tcFontSize]="20" (click)="setAccordion(accordion[i], i)" [ngClass]="{'active' : accordion[i]}"></tc-icon>
                        </div>
                        <div class="col-12 panel" [ngClass]="{'active' : accordion[i]}">
                            <tc-list [timeline]="true" class="mt-2" *ngIf="moduleItem.videos.length > 0">
                                <tc-list-item *ngFor="let lesson of moduleItem.videos; let lessonNum = index;">
                                    <tc-icon
                                            tc-list-icon
                                            [padding]="'7px'"
                                            [tcShape]="100"
                                            [iconClass]=""
                                            [tcColor]="'#fff'"
                                            [tcBgColor]="getBgColorLesson(lesson.access, lesson.studying)"
                                    ></tc-icon>
                                    <a [routerLink]="(getLessonStatus(lesson.access, lesson.studying) != 'locked') ? ['/vertical/courses/course/lesson/', lesson.id] : []" class="lesson-link">
                                        <div class="module-lesson" [ngClass]="{'lesson-blocked' : (getLessonStatus(lesson.access, lesson.studying) == 'locked')}">
                                            <span class="lesson-span">Урок {{ lessonNum + 1 }}</span>
                                            <div class="row mt-2">
                                                <div class="col-8">
                                                    <h6 class="mt-0 mb-0">{{ lesson.title }}</h6>
                                                </div>
                                                <div class="col-4">
                                                    <div class="d-flex justify-content-end">
                                                        <div class="mr-5 options-course" *ngIf="getLessonStatus(lesson.access, lesson.studying) == 'finished'">
                                                            <tc-icon class="mr-2 pl-0" [tcColor]="'#1890ff'" [iconClass]="'sli-check tc-icon-wrap'" [tcFontSize]="18"></tc-icon>
                                                            <span>Пройден</span>
                                                        </div>
                                                        <div class="mr-3 options-course" *ngIf="getLessonStatus(lesson.access, lesson.studying) == 'locked'">
                                                            <tc-icon class="pl-0" [iconClass]="'sli-lock tc-icon-wrap'" [tcFontSize]="18"></tc-icon>
                                                        </div>
                                                        <div class="options-course">
                                                            <tc-icon class="mr-2 pl-0" [iconClass]="'sli-clock tc-icon-wrap'" [tcFontSize]="18"></tc-icon>
                                                            <span [ngStyle]="{minWidth: '84px', display: 'inline-block'}">{{ lesson.duration }} минута</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </tc-list-item>
                            </tc-list>
                        </div>
                    </div>
                </tc-card>
            </div>
<!--            <div class="col-lg-3">-->
<!--                <tc-card></tc-card>-->
<!--            </div>-->

            <div class="col-12 mt-4">
                <hr class="hr" />
                <h5>Рецензии</h5>
                <tc-card>
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="d-flex">
                            <span class="mr-3 font-weight-bold point-course">{{ course.rating }}</span>
                            <div class="point-course-star">
                                <tc-rating [value]="course.rating | number: '1.0-0'" [tcFontSize]="16" [color]="['#ccc','#ffe941','#ffbd41']"
                                       [ngStyle]="{marginTop: '3px'}" [disabled]="true"></tc-rating>
                                <span>Рецензии: {{course.commentNumber}}</span>
                            </div>
                        </div>
                        <div class="d-flex point-course-progress">
                            <span class="mr-3">5 stars</span>
                            <tc-progress [color]="'#f49330'" [progress]="0" [style]="'self-style'"></tc-progress>
                            <span class="ml-3">0%</span>
                        </div>
                        <div class="d-flex point-course-progress">
                            <span class="mr-3">4 stars</span>
                            <tc-progress [color]="'#f49330'" [progress]="0" [style]="'self-style'"></tc-progress>
                            <span class="ml-3">0%</span>
                        </div>
                        <div class="d-flex point-course-progress">
                            <span class="mr-3">3 stars</span>
                            <tc-progress [color]="'#f49330'" [progress]="0" [style]="'self-style'"></tc-progress>
                            <span class="ml-3">0%</span>
                        </div>
                        <div class="d-flex point-course-progress">
                            <span class="mr-3">2 stars</span>
                            <tc-progress [color]="'#f49330'" [progress]="0" [style]="'self-style'"></tc-progress>
                            <span class="ml-3">0%</span>
                        </div>
                        <div class="d-flex point-course-progress">
                            <span class="mr-3">1 stars</span>
                            <tc-progress [color]="'#f49330'" [progress]="0" [style]="'self-style'"></tc-progress>
                            <span class="ml-3">0%</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-9">
                        <p class="comment-p mt-3">Лучшие отзывы о курсе НАУЧИТЕСЬ УЧИТЬСЯ: МОЩНЫЕ УМСТВЕННЫЕ ИНСТРУМЕНТЫ, КОТОРЫЕ ПОМОГУТ ВАМ ОВЛАДЕТЬ СЛОЖНЫМИ ПРЕДМЕТАМИ</p>
                        <div *ngIf="comments.length > 0">
                            <div class="mb-5" *ngFor="let comment of comments; let index = index;">
                                <tc-rating [value]="comment.rating | number: '1.0-0'" [tcFontSize]="16" [color]="['#ccc','#ffe941','#ffbd41']"
                                       [disabled]="true" class="mb-2"></tc-rating>
                                <p class="mb-3">{{ comment.profileName ? comment.profileName : 'Unknown' }} <span [tcColor]="'#afafaf'">сент. 2016 г.</span></p>
                                <p>{{ comment.comment }}</p>
                            </div>
                        </div>

                        <hr class="hr" />
                        <div class="mb-4 mt-5" *ngIf="course.isJoined">
                            <h4>Оставьте отзыв</h4>
                            <tc-rating [value]="commentP.rating" [(ngModel)]="commentP.rating" [tcFontSize]="16" [color]="['#ccc','#ffe941','#ffbd41']" class="mb-4"></tc-rating>
                            <tc-form-group>
                                <tc-textarea [value]="commentP.comment" [(ngModel)]="commentP.comment"
                                             [placeholder]="'Отзыв'" [height]="160"></tc-textarea>
                            </tc-form-group>
                            <button tc-button [tcBgColor]="'#213a8f'" (click)="newCommentCourse()">Отправить</button>
                        </div>
                    </div>
                </div>
                </tc-card>
            </div>
        </div>
    </div>

</div>

<button *ngIf="isAdmin && id.length > 0" class="no-style settings-btn"
        (click)="goToStd($event, ['/vertical/courses/admin/course/add/module/', id])">
    <span class="pulse"></span>
    <tc-icon
            class="settings-icon"
            [iconClass]="'icofont-plus'"
            [tcFontSize]="26"
            [padding]="'2px 0'"
    ></tc-icon>
</button>
