.row-flex {
  display: flex;
  flex-flow: wrap;
}
.match-height tc-card {
  height: calc(100% - 24px);
}

h5.edu {
  color: #086dda;
}
h5.exp {
  color: #53b324;
}
.bslide {
  font-size: 18px;
  cursor: pointer;
}
.align-right {
  text-align: right;
}
.hide-side {
  display: none;
}
.lesson-item {
  transition: all .4s linear;
}
