<div>
    <div class="row">
        <div class="col-12 col-md-8">
            <tc-card [title]="'Module'">
                <form [formGroup]="basicForm" novalidate>
                    <div class="row">
                        <tc-form-group class="col-12 col-md-6">
                            <tc-form-label>Title</tc-form-label>
                            <tc-input [(ngModel)]="module.title" [ngModelOptions]="{standalone: true}"></tc-input>
                        </tc-form-group>
                        <tc-form-group class="col-12 col-md-6">
                            <tc-form-label>Order</tc-form-label>
                            <tc-input [(ngModel)]="module.orderNum" [ngModelOptions]="{standalone: true}" [type]="'number'"></tc-input>
                        </tc-form-group>
                        <tc-form-group class="col-12 col-md-6">
                            <tc-form-label>Intro Description</tc-form-label>
                            <tc-textarea [placeholder]="'Description'" [height]="'8rem'"
                                         [(ngModel)]="module.description"
                                         [ngModelOptions]="{standalone: true}"></tc-textarea>
                        </tc-form-group>

                        <div class="col-12 mb-4">
<!--                            <button tc-button (click)="addLesson(index)"-->
<!--                                    class="mr-2" [beforeIcon]="'icofont-plus'" [tcBgColor]="'#3f51b5'">Add Lesson</button>-->
<!--                            <button tc-button (click)="removeModule(index)"-->
<!--                                    class="mr-2" [beforeIcon]="'icofont-close'" [view]="'error'">Remove Module</button>-->

                        </div>


                    </div>
                </form>
            </tc-card>
        </div>

        <div class="col-12 col-md-6">
            <a [routerLink]="['/vertical/courses/course/add/lesson', moduleId]"  *ngIf="moduleId.length > 0">
                <button tc-button class="mr-2" [beforeIcon]="'icofont-plus'" [tcBgColor]="'#3f51b5'">Add Lesson</button>
            </a>
<!--            <button tc-button (click)="addModule()"-->
<!--                    class="mr-2" [beforeIcon]="'icofont-plus'" [tcBgColor]="'#3f51b5'">Add Module</button>-->
            <button tc-button (click)="openModal(modalBody, 'Modal title', modalFooter, { closeButton: true, overlayClose: true })" class="mr-2" [beforeIcon]="'icofont-plus'" [tcBgColor]="'#3f51b5'">Save</button>
        </div>
    </div>
</div>



<ng-container>
    <ng-template #modalHeader>
        <h2 class="title">Modal title</h2>
        <div class="actions">
            <tc-badge [view]="'warning'">New</tc-badge>
        </div>
    </ng-template>

    <ng-template #modalBody>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eum eveniet fugiat fugit illum, natus porro
            possimus quisquam soluta vitae. Aperiam molestias quae quaerat quibusdam rerum voluptates! Aspernatur, magnam
            quas?</p>
    </ng-template>

    <ng-template #modalFooter>
        <div class="actions" [ngStyle]="{textAlign: 'right', display: 'block'}">
            <button tc-button [view]="'error'" (click)="closeModal()">Close</button>
            <button tc-button [view]="'success'" (click)="submitModal()">Submit</button>
        </div>
    </ng-template>

    <ng-template #modalFooterDelete>
        <div class="actions" [ngStyle]="{textAlign: 'right', display: 'block'}">
            <button tc-button [view]="'error'" (click)="closeModal()">Close</button>
            <button tc-button [view]="'success'" (click)="deleteCompany()">Submit</button>
        </div>
    </ng-template>
</ng-container>
