<div class="row">
  <div class="col-12 col-md-6">
    <p [tcColor]="'#a5a5a5'" class="mb-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, dolorem
      excepturi facilis magni necessitatibus perspiciatis repellendus sunt
      veniam? A ad architecto aspernatur cupiditate dignissimos distinctio
      earum, eligendi eum iusto laboriosam maxime minima necessitatibus nemo
      nesciunt odio perferendis, quaerat qui quo repellendus sapiente.
    </p>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [tcBgColor]="'#dc877e'" [tcColor]="'#000'">
      <div class="row text-center align-items-center">
        <div class="col-6">
          <h6 class="mt-1 mb-1">Amount received</h6>
          <strong [tcFontSize]="20">$35,570</strong>
        </div>

        <div class="col-6">
          <h6 class="mt-1 mb-1">Amount pending</h6>
          <strong [tcFontSize]="20">$2,540</strong>
        </div>
      </div>
    </tc-card>
  </div>
</div>

<tc-card class="mb-0" *ngIf="invoices" [padding]="'0 0 20px'">
  <nz-table [nzShowPagination]="false" [nzData]="invoices">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th>#</th>
        <th nzShowSort nzSortKey="date">Date</th>
        <th>Recipient</th>
        <th>Status</th>
        <th nzShowSort nzSortKey="amount">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of invoices">
        <td>
          <span
            class="{{ data.icon }}"
            [tcFontSize]="50"
            [tcColor]="'#1f2022'"
          ></span>
        </td>
        <td>
          <span [tcColor]="'#a5a5a5'" class="nowrap">
            <i class="icofont-clock-time"></i>
            {{ data.date }}
          </span>
        </td>
        <td>
          <strong>{{ data.recipient }}</strong>
        </td>
        <td>
          <span
            class="nowrap"
            [tcColor]="'#7cdb86'"
            *ngIf="data.status === 'Paid'"
          >
            <i class="icofont-check-circled"></i>
            {{ data.status }}
          </span>
          <span
            class="nowrap"
            [tcColor]="'#ed253d'"
            *ngIf="data.status === 'Un-Paid'"
          >
            <i class="icofont-close-circled"></i>
            {{ data.status }}
          </span>
          <span
            class="nowrap"
            [tcColor]="'#626364'"
            *ngIf="data.status === 'Scheduled'"
          >
            <i class="icofont-wall-clock"></i>
            {{ data.status }}
          </span>
        </td>
        <td>${{ data.amount }}</td>
      </tr>
    </tbody>
  </nz-table>
</tc-card>
