<div>
    <div class="row">
        <div class="col-12 col-md-6">
            <tc-card>
                <form [formGroup]="basicForm" novalidate>
                    <div class="row">
                        <tc-form-group class="col-12">
                            <tc-form-label>Package</tc-form-label>
                            <tc-input [(ngModel)]="package.title" [ngModelOptions]="{standalone: true}"></tc-input>
                        </tc-form-group>
                        <tc-form-group class="col-12">
                            <tc-form-label>Description</tc-form-label>
                            <tc-textarea [placeholder]="'Description'" [height]="'8rem'"
                                         [(ngModel)]="package.description"
                                         [ngModelOptions]="{standalone: true}"></tc-textarea>
                        </tc-form-group>
                    </div>

                </form>
            </tc-card>
        </div>

        <div class="col-12 col-md-6">
            <tc-card [title]="'Upload Avatar'">
                <div class="row">
                    <tc-form-group class="col-6" style="padding: 0; margin: 0;">
                        <nz-upload
                                nzAction="{{apiUrl}}/api/profiles/list/csv/file"
                                nzListType="picture-card"
                                [(nzFileList)]="previewImageBackground"
                                [nzShowButton]="previewImageBackground.length < 1"
                                [nzShowUploadList]="showUploadAvatar">
                            <i class="icofont-plus"></i>
                            <div class="ant-upload-text">Upload Avatar</div>
                        </nz-upload>
                        <nz-modal
                                [nzVisible]="previewVisibleBackground"
                                [nzContent]="modalContentBackground"
                                [nzFooter]="null"
                                (nzOnCancel)="previewVisibleBackground = false">
                            <ng-template #modalContentBackground>
                                <img [src]="previewImageBackground" [ngStyle]="{ width: '100%' }" />
                            </ng-template>
                        </nz-modal>
                    </tc-form-group>
                </div>
            </tc-card>
        </div>

        <div class="col-12 col-md-6">
<!--            <button tc-button [beforeIcon]="'icofont-plus'" [view]="'info'" class="mr-2" (click)="addUniver(profileDetails)">Education</button>-->
<!--            <button tc-button [beforeIcon]="'icofont-plus'" [tcBgColor]="'#3f51b5'" class="mr-2" (click)="addExp(profileDetails)">Experience</button>-->
            <button tc-button (click)="openModal(modalBody, 'Modal title', modalFooter, { closeButton: true, overlayClose: true })" class="mr-2" [beforeIcon]="'icofont-plus'" [tcBgColor]="'#3f51b5'">Save</button>
            <button tc-button [view]="'error'" (click)="openModal(modalBody, 'Modal title', modalFooterDelete, { closeButton: true, overlayClose: true })">Delete</button>
        </div>
    </div>
</div>



<ng-container>
    <ng-template #modalHeader>
        <h2 class="title">Modal title</h2>
        <div class="actions">
            <tc-badge [view]="'warning'">New</tc-badge>
        </div>
    </ng-template>

    <ng-template #modalBody>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eum eveniet fugiat fugit illum, natus porro
            possimus quisquam soluta vitae. Aperiam molestias quae quaerat quibusdam rerum voluptates! Aspernatur, magnam
            quas?</p>
    </ng-template>

    <ng-template #modalFooter>
        <div class="actions" [ngStyle]="{textAlign: 'right', display: 'block'}">
            <button tc-button [view]="'error'" (click)="closeModal()">Close</button>
            <button tc-button [view]="'success'" (click)="submitModal()">Submit</button>
        </div>
    </ng-template>

    <ng-template #modalFooterDelete>
        <div class="actions" [ngStyle]="{textAlign: 'right', display: 'block'}">
            <button tc-button [view]="'error'" (click)="closeModal()">Close</button>
            <button tc-button [view]="'success'" (click)="deleteCompany()">Submit</button>
        </div>
    </ng-template>
</ng-container>
