<tc-card class="mb-0" [padding]="'0'">
    <tc-card class="mb-0 pb-0">
        <tc-form-group class="mb-0 pb-0">
            <div class="row">
                <div class="col-12">
                </div>
                <div class="col-md-12 mb-2">
                    <tc-autocomplete [data]="studentsData" [key]="'fio'" [placeholder]="'Name'" [(ngModel)]="searchStr"></tc-autocomplete>
                </div>
            </div>
        </tc-form-group>
    </tc-card>

    <nz-table #basicTable [nzData]="studentsData | todoFilter: searchStr : 'fio' |
        FilterArray: selectedCity | todoFilter: searchSpec : 'speciality'"
              [nzShowPagination]="true" [nzPageSize]="10">
        <thead nzSingleSort (nzSortChange)="sort($event)">
        <tr>
            <th></th>
            <th nzShowSort nzSortKey="fio">Аты-жөні</th>
            <th nzShowSort nzSortKey="speciality">Мамандық</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data; let ind = index"
        class="mainTable" (click)="selectStudent(data.id)">
            <td>
                <tc-checkbox [value]="data.selectedC"></tc-checkbox>
            </td>
            <td>{{ data.fio }}</td>
            <td>{{ data.education.length > 0 ? data.education[0].speciality : '' }}</td>
        </tr>
        </tbody>
    </nz-table>
</tc-card>
