<div class="row">
  <div class="col-12">
    <div class="ratio ratio-219" [ngStyle]="{backgroundImage: 'url(https://tmp.mdsp.kz/images/course-company/photo-1541185933-ef5d8ed016c2.jpeg)'}">
      <div class="content">
<!--        <h3>MDS COURSES</h3>-->
      </div>
    </div>

    <div class="col-12 mt-4 list-company d-flex align-middle justify-content-center">
<!--      <carousel [height]="64" [arrowsOutside]="true" [ngStyle]="{maxWidth: '1140px'}">-->
<!--        <div class="item carousel-cell" *ngFor="let company of companyListImg; let index = index;">-->
<!--          <a [routerLink]="['/vertical/courses/package/list/', company.id]">-->
<!--            <img [src]="company.logo" [ngStyle]="{maxHeight: '64px'}" />-->
<!--          </a>-->
<!--        </div>-->
<!--      </carousel>-->
      <div class="d-flex justify-content-center">
        <div class="mr-4 ml-4" *ngFor="let company of companyListImg; let index = index;">
          <a [routerLink]="['/vertical/courses/package/list/', company.id]">
            <img [src]="company.logo" [ngStyle]="{maxHeight: '64px', height: '54px'}" />
          </a>
        </div>
      </div>
    </div>
    <hr class="mt-4 mb-5 hr" />
    <div class="col-12 mb-5">
      <h4 [align]="'center'" class="mb-5">Popular Courses</h4>

      <div class="row flex-row grid">
        <div *ngFor="let course of coursesList; let index = index;" class="col-12 col-md-3 grid-course mb-4">
          <a [routerLink]="['/vertical/courses/course/', course.id]">
            <tc-card [img]="course.image"
                     class="mb-md-0 card" [title]="course.title"
                     [ratio]="'16:9'" [topTitle]="(index == 2 || index == 8) ? 'Осталось немного!': ''"
                     [topIcon]="(index == 2 || index == 8) ? 'sli-bell tc-icon-wrap' : ''" [type]="'course'">
              <div class="tc-card-padding">
                <div class="d-flex justify-start">
                  <div class="mr-5 options-course">
                    <tc-icon class="mr-2" [iconClass]="'sli-clock tc-icon-wrap'" [tcFontSize]="18"></tc-icon>
                    <span>{{ course.allTime }} часов</span>
                  </div>
                  <div class="mr-3 options-course">
                    <tc-icon class="mr-2" [iconClass]="'sli-layers tc-icon-wrap'" [tcFontSize]="18"></tc-icon>
                    <span>{{ course.allLesson }} урок</span>
                  </div>
                </div>
              </div>
              <div *ngIf="course.isJoined">
                <div class="progress-outer"></div>
                <div class="process-right-radius"></div>
                <div class="progress-card" [ngStyle]="{width: course.progress + '%',
                borderBottomRightRadius: (course.progress == 100) ? '15px' : 0}">
                </div>
              </div>
            </tc-card>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="banner mb-5">
  <h3>Получите персональные учебные рекомендации</h3>
  <p>Ответьте на несколько вопросов о ваших интересах</p>
  <button tc-button class="white-btn">Начните действовать</button>
</div>


<div class="row">

  <div class="col-12 packages-grid">
    <h4 [align]="'center'" class="mb-5">Popular Packages</h4>
    <div class="row">
      <div class="col-md-3 mb-5" *ngFor="let package of packagesList; let index = index;">
        <a [routerLink]="['/vertical/courses/course/list', package.id]" class="package-item">
          <div class="package-border">
            <div class="grid-image-package"  [ngStyle]="{backgroundImage: 'url(' + package.image + ')'}"></div>
            <h6 class="">{{package.title}}</h6>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>

<button class="no-style settings-btn"
        *ngIf="isAdmin"
        (click)="goToStd($event, ['/vertical/courses/admin/companies/add/'])">
  <span class="pulse"></span>
  <tc-icon
          class="settings-icon"
          [iconClass]="'icofont-plus'"
          [tcFontSize]="26"
          [padding]="'2px 0'"
  ></tc-icon>
</button>
