<div *ngIf="exercise">
    <div class="row">
        <div class="col-8">
            <div>
                <tc-card>
                    <nz-tabset (nzSelectedIndexChange)="nzTabIndexChange($event)">
                        <nz-tab nzTitle="KZ">
                            <tc-form-group class="test">
                                <div class="row">
                                    <div class="col-12">
                                        <tc-form-group class="mb-0">
                                            <div *ngIf="showTxt">
                                                <editor *ngIf= "langType == 'kz'"
                                                        [init]="tinyMceSettings"
                                                        [(ngModel)]="exercise.description"
                                                        [ngModelOptions]="{standalone: true}"
                                                ></editor>
                                            </div>


                                            <div class="mt-4" *ngIf="exercise.type == 1 || exercise.type == 2">
                                                <tc-form-group class="variants-input" *ngFor="let variant of exercise.variantTest; let iCount= index; trackBy: trackByFn;">
                                                    <tc-checkbox class="checkbox mr-3" [(ngModel)]="variant.isAnswer" [ngModelOptions]="{standalone: true}" (ngModelChange)="variantCheckbox($event, iCount)"></tc-checkbox>
                                                    <tc-input placeholder="Type variant of answer" [(ngModel)]="variant.text" [ngModelOptions]="{standalone: true}"></tc-input>
                                                    <button tc-button (click)="removeVariant(iCount, exercise.type)" [afterIcon]="'icofont-close'" [view]="'error'" [square]="true" class="ml-2"></button>
                                                </tc-form-group>
                                                <tc-form-group><button tc-button (click)="addVariant(exercise.type)"> + Add New Variant</button></tc-form-group>
                                            </div>
                                            <tc-form-group *ngIf="exercise.type == 3" class="mt-4">
                                                <div class="d-flex mb-4" *ngFor="let variant of exercise.variantFIB; let iCount= index; trackBy: trackByFn;">
                                                    <tc-input placeholder="Right Answer"
                                                              [(ngModel)]="variant.text" [ngModelOptions]="{standalone: true}">
                                                    </tc-input>
                                                    <button tc-button (click)="removeVariant(iCount, exercise.type)" [afterIcon]="'icofont-close'" [view]="'error'" [square]="true" class="ml-2"></button>
                                                </div>
                                                <tc-form-group><button tc-button (click)="addVariant(exercise.type)"> + Add New Variant</button></tc-form-group>
                                            </tc-form-group>
                                            <div class="mt-4" *ngIf="exercise.type == 4">
                                                <tc-form-group class="variants-input" *ngFor="let variant of exercise.variantMatch; let iCount= index; trackBy: trackByFn;">
                                                    <tc-input placeholder="Type variant of answer" [(ngModel)]="variant.text" [ngModelOptions]="{standalone: true}"></tc-input>
                                                    <tc-input placeholder="Type variant of answer" [(ngModel)]="variant.textRel" [ngModelOptions]="{standalone: true}" class="ml-2"></tc-input>
                                                    <button tc-button (click)="removeVariant(iCount, exercise.type)" [afterIcon]="'icofont-close'" [view]="'error'" [square]="true" class="ml-2"></button>
                                                </tc-form-group>
                                                <tc-form-group><button tc-button (click)="addVariant(exercise.type)"> + Add New Variant</button></tc-form-group>
                                            </div>
                                            <div class="mt-4" *ngIf="exercise.type == 5" [cdkDropListData]="exercise.variantOrder" cdkDropList (cdkDropListDropped)="onDrop($event)">
                                                <tc-form-group class="variants-input" *ngFor="let variant of exercise.variantOrder; let iCount= index; trackBy: trackByFn;" cdkDrag>
                                                    <i class="icofont-drag tc-icon-wrap mr-2"></i>
                                                    <tc-input placeholder="Type variant of answer" [(ngModel)]="variant.text" [ngModelOptions]="{standalone: true}"></tc-input>
                                                    <button tc-button (click)="removeVariant(iCount, exercise.type)" [afterIcon]="'icofont-close'" [view]="'error'" [square]="true" class="ml-2"></button>
                                                </tc-form-group>
                                                <tc-form-group><button tc-button (click)="addVariant(exercise.type)"> + Add New Variant</button></tc-form-group>
                                            </div>


                                        </tc-form-group>
                                    </div>
                                </div>

                            </tc-form-group>

                        </nz-tab>

                        <nz-tab nzTitle="EN">
                            <tc-form-group class="test">
                                <div class="row">
                                    <div class="col-12">
                                        <tc-form-group class="mb-0">
                                            <div class="">
                                                <editor *ngIf= "langType == 'en'"
                                                        [init]="tinyMceSettings"
                                                        [(ngModel)]="exercise.descriptionEn"
                                                        [ngModelOptions]="{standalone: true}"></editor>
                                            </div>


                                            <div class="mt-4" *ngIf="exercise.type == 1 || exercise.type == 2">
                                                <tc-form-group class="variants-input" *ngFor="let variant of exercise.variantTest; let iCount= index; trackBy: trackByFn;">
                                                    <tc-checkbox class="checkbox mr-3" [(ngModel)]="variant.isAnswer"></tc-checkbox>
                                                    <tc-input placeholder="Type variant of answer" [(ngModel)]="variant.textEn" [ngModelOptions]="{standalone: true}"></tc-input>
                                                    <button tc-button (click)="removeVariant(iCount, exercise.type)" [afterIcon]="'icofont-close'" [view]="'error'" [square]="true" class="ml-2"></button>
                                                </tc-form-group>
                                                <tc-form-group><button tc-button (click)="addVariant(exercise.type)"> + Add New Variant</button></tc-form-group>
                                            </div>
                                            <tc-form-group *ngIf="exercise.type == 3" class="mt-4">
                                                <div class="d-flex mb-4" *ngFor="let variant of exercise.variantFIB; let iCount= index; trackBy: trackByFn;">
                                                    <tc-input placeholder="Right Answer"
                                                              [(ngModel)]="variant.textEn" [ngModelOptions]="{standalone: true}">
                                                    </tc-input>
                                                    <button tc-button (click)="removeVariant(iCount, exercise.type)" [afterIcon]="'icofont-close'" [view]="'error'" [square]="true" class="ml-2"></button>
                                                </div>
                                                <tc-form-group><button tc-button (click)="addVariant(exercise.type)"> + Add New Variant</button></tc-form-group>
                                            </tc-form-group>
                                            <div class="mt-4" *ngIf="exercise.type == 4">
                                                <tc-form-group class="variants-input" *ngFor="let variant of exercise.variantMatch; let iCount= index; trackBy: trackByFn;">
                                                    <tc-input placeholder="Type variant of answer" [(ngModel)]="variant.textEn" [ngModelOptions]="{standalone: true}"></tc-input>
                                                    <tc-input placeholder="Type variant of answer" [(ngModel)]="variant.textEnRel" [ngModelOptions]="{standalone: true}" class="ml-2"></tc-input>
                                                    <button tc-button (click)="removeVariant(iCount, exercise.type)" [afterIcon]="'icofont-close'" [view]="'error'" [square]="true" class="ml-2"></button>
                                                </tc-form-group>
                                                <tc-form-group><button tc-button (click)="addVariant(exercise.type)"> + Add New Variant</button></tc-form-group>
                                            </div>
                                            <div class="mt-4" *ngIf="exercise.type == 5" [cdkDropListData]="exercise.variantOrder" cdkDropList (cdkDropListDropped)="onDrop($event)">
                                                <tc-form-group class="variants-input" *ngFor="let variant of exercise.variantOrder; let iCount= index; trackBy: trackByFn;" cdkDrag>
                                                    <i class="icofont-drag tc-icon-wrap mr-2"></i>
                                                    <tc-input placeholder="Type variant of answer" [(ngModel)]="variant.textEn" [ngModelOptions]="{standalone: true}"></tc-input>
                                                    <button tc-button (click)="removeVariant(iCount, exercise.type)" [afterIcon]="'icofont-close'" [view]="'error'" [square]="true" class="ml-2"></button>
                                                </tc-form-group>
                                                <tc-form-group><button tc-button (click)="addVariant(exercise.type)"> + Add New Variant</button></tc-form-group>
                                            </div>


                                        </tc-form-group>
                                    </div>
                                </div>

                            </tc-form-group>
                        </nz-tab>
                        <nz-tab nzTitle="RU">
                            <tc-form-group class="test">
                                <div class="row">
                                    <div class="col-12">
                                        <tc-form-group class="mb-0">
                                            <div class="">
                                                <editor *ngIf= "langType == 'ru'"
                                                        [init]="tinyMceSettings"
                                                        [(ngModel)]="exercise.descriptionRu"
                                                        [ngModelOptions]="{standalone: true}"></editor>
                                            </div>
                                            <div class="mt-4" *ngIf="exercise.type == 1 || exercise.type == 2">
                                                <tc-form-group class="variants-input" *ngFor="let variant of exercise.variantTest; let iCount= index; trackBy: trackByFn;">
                                                    <tc-checkbox class="checkbox mr-3" [(ngModel)]="variant.isAnswer"></tc-checkbox>
                                                    <tc-input placeholder="Type variant of answer" [(ngModel)]="variant.textRu" [ngModelOptions]="{standalone: true}"></tc-input>
                                                    <button tc-button (click)="removeVariant(iCount, exercise.type)" [afterIcon]="'icofont-close'" [view]="'error'" [square]="true" class="ml-2"></button>
                                                </tc-form-group>
                                                <tc-form-group><button tc-button (click)="addVariant(exercise.type)"> + Add New Variant</button></tc-form-group>
                                            </div>
                                            <tc-form-group *ngIf="exercise.type == 3" class="mt-4">
                                                <div class="d-flex mb-4" *ngFor="let variant of exercise.variantFIB; let iCount= index; trackBy: trackByFn;">
                                                    <tc-input placeholder="Right Answer"
                                                              [(ngModel)]="variant.textRu" [ngModelOptions]="{standalone: true}">
                                                    </tc-input>
                                                    <button tc-button (click)="removeVariant(iCount, exercise.type)" [afterIcon]="'icofont-close'" [view]="'error'" [square]="true" class="ml-2"></button>
                                                </div>
                                                <tc-form-group><button tc-button (click)="addVariant(exercise.type)"> + Add New Variant</button></tc-form-group>
                                            </tc-form-group>
                                            <div class="mt-4" *ngIf="exercise.type == 4">
                                                <tc-form-group class="variants-input" *ngFor="let variant of exercise.variantMatch; let iCount= index; trackBy: trackByFn;">
                                                    <tc-input placeholder="Type variant of answer" [(ngModel)]="variant.textRu" [ngModelOptions]="{standalone: true}"></tc-input>
                                                    <tc-input placeholder="Type variant of answer" [(ngModel)]="variant.textRuRel" [ngModelOptions]="{standalone: true}" class="ml-2"></tc-input>
                                                    <button tc-button (click)="removeVariant(iCount, exercise.type)" [afterIcon]="'icofont-close'" [view]="'error'" [square]="true" class="ml-2"></button>
                                                </tc-form-group>
                                                <tc-form-group><button tc-button (click)="addVariant(exercise.type)"> + Add New Variant</button></tc-form-group>
                                            </div>
                                            <div class="mt-4" *ngIf="exercise.type == 5" [cdkDropListData]="exercise.variantOrder" cdkDropList (cdkDropListDropped)="onDrop($event)">
                                                <tc-form-group class="variants-input" *ngFor="let variant of exercise.variantOrder; let iCount= index; trackBy: trackByFn;" cdkDrag>
                                                    <i class="icofont-drag tc-icon-wrap mr-2"></i>
                                                    <tc-input placeholder="Type variant of answer" [(ngModel)]="variant.textRu" [ngModelOptions]="{standalone: true}"></tc-input>
                                                    <button tc-button (click)="removeVariant(iCount, exercise.type)" [afterIcon]="'icofont-close'" [view]="'error'" [square]="true" class="ml-2"></button>
                                                </tc-form-group>
                                                <tc-form-group><button tc-button (click)="addVariant(exercise.type)"> + Add New Variant</button></tc-form-group>
                                            </div>
                                        </tc-form-group>

                                    </div>
                                </div>

                            </tc-form-group>
                        </nz-tab>
                    </nz-tabset>

                    <div class="col-12 mb-4" *ngIf="exercise.type == 7">
                        <div class="row">
                            <div *ngFor="let variable of exercise.variableGN; let j = index; trackBy: trackByFn;"
                                 class="col-12 col-md-3 mb-3 pt-4" [ngClass]="{'result-gn' : j == 0}">
                                <tc-form-group>
                                    <tc-input *ngIf="j > 0" [placeholder]="'Name'" [(ngModel)]="variable.name"></tc-input>
                                    <tc-input *ngIf="j == 0" [placeholder]="'Result'" [disabled]="true"></tc-input>
                                </tc-form-group>

                                <tc-form-group>
                                    <tc-select [placeholder]="'Select placeholder'" [options]="typeVariable" [(ngModel)]="variable.type"></tc-select>
                                </tc-form-group>
                                <tc-form-group>
                                    <tc-input [placeholder]="'Delimiter'" [disabled]="variable.type != 'float'"  [(ngModel)]="variable.delimiter"></tc-input>
                                </tc-form-group>
                                <tc-form-group>
                                    <tc-input [placeholder]="'Condition'" [(ngModel)]="variable.condition" *ngIf="!variable.isAssign"></tc-input>
                                </tc-form-group>
                                <tc-form-group>
                                    <tc-input [placeholder]="'Assign'" [(ngModel)]="variable.assignText" *ngIf="variable.isAssign"></tc-input>
                                </tc-form-group>
                                <tc-form-group *ngIf="variable.range.length > 0 && !variable.isAssign">
                                    <tc-form-label>Range</tc-form-label>
                                    <div class="row">
                                        <tc-input [placeholder]="'From'" class="col-6" [(ngModel)]="variable.range[0]"></tc-input>
                                        <tc-input [placeholder]="'To'" class="col-6" [(ngModel)]="variable.range[1]"></tc-input>
                                    </div>
                                </tc-form-group>
                                <tc-form-group *ngIf="j == 0 && variable.variantsSolve && variable.variantsSolve.length > 0">
                                    <tc-form-label>Wrong variants</tc-form-label>
                                    <div class="row">
                                        <div *ngFor="let solveI of variable.variantsSolve; let u = index; trackBy: trackByFn;"  class="col-12 mb-2">
                                            <tc-input [placeholder]="'Wrong variant'" [(ngModel)]="variable.variantsSolve[u]"></tc-input>
                                        </div>
                                    </div>
                                </tc-form-group>
                                <button tc-button *ngIf="j == 0"  (click)="addVariantSolves()" class="mb-2"> + Add Variants Generate</button>
                                <button tc-button *ngIf="j > 0" (click)="removeVariant(j, exercise.type)" [afterIcon]="'icofont-close'" [view]="'error'" [square]="true" class="mb-2"></button>
                                <hr/>
                            </div>
                            <div class="col-12">
                                <button tc-button (click)="addVariant(exercise.type)" class="mr-2"> + Variable</button>
                                <button tc-button (click)="addVariant(exercise.type, true)"> + Assign</button>
                            </div>
                            <div class="col-12 mt-4">
                                <tc-form-group>
                                    <tc-input [placeholder]="'Condition'" [(ngModel)]="generateTest.condition"></tc-input>
                                </tc-form-group>
                                <tc-form-group>
                                    <tc-input [placeholder]="'Solve'" [(ngModel)]="generateTest.solve"></tc-input>
                                </tc-form-group>
                                <tc-form-group>
                                    <tc-input [placeholder]="'Answer Type'" [(ngModel)]="generateTest.answerType"></tc-input>
                                </tc-form-group>

                            </div>
                        </div>
                    </div>

                    <button tc-button (click)="duplicateText()" [view]="'warning'">Duplicate Text</button>
                    <button tc-button *ngIf="exercise.type === 7" (click)="prepareGenerate()" [view]="'info'" class="ml-2">Generate</button>

                </tc-card>

            </div>

            <tc-card>
                <ng-katex-html *ngIf="langType == 'kz'" [html]="exercise.description ? exercise.description : ' '"></ng-katex-html>
                <ng-katex-html *ngIf="langType == 'en'" [html]="exercise.descriptionEn ? exercise.descriptionEn : ' '"></ng-katex-html>
                <ng-katex-html *ngIf="langType == 'ru'" [html]="exercise.descriptionRu ? exercise.descriptionRu : ' '"></ng-katex-html>

                <div class="mt-4" *ngIf="generatedTest.answerVariants.length">
                    <ng-katex-html *ngIf="langType == 'kz'" [html]="generatedTest.description ? generatedTest.description : ' '"></ng-katex-html>
                    <ng-katex-html *ngIf="langType == 'en'" [html]="generatedTest.descriptionEn ? generatedTest.descriptionEn : ' '"></ng-katex-html>
                    <ng-katex-html *ngIf="langType == 'ru'" [html]="generatedTest.descriptionRu ? generatedTest.descriptionRu : ' '"></ng-katex-html>
                    <div class="variants-show mt-2">
                        <tc-checkbox
                                class="mb-2"
                                *ngFor="let variantShow of generatedTest.answerVariants"
                                [disabled]="false">
                            {{ variantShow }}
                        </tc-checkbox>
                    </div>
                </div>
            </tc-card>

        </div>
        <div class="col-12 col-md-4">

            <tc-card>

                <div class="row" style="justify-content: center">
                    <button tc-button size="sm" style="border-bottom-right-radius: 0; border-top-right-radius: 0" [view]="(exercise.type == 1) ? 'success' : 'default'" (click)="selectTypeExercise(1)">Test</button>
                    <button tc-button size="sm" style="border-radius: 0" [view]="(exercise.type == 2) ? 'success' : 'default'" (click)="selectTypeExercise(2)">Multiple choice</button>
                    <button tc-button size="sm" style="border-radius: 0" [view]="(exercise.type == 3) ? 'success' : 'default'" (click)="selectTypeExercise(3)">Fill</button>
                    <button tc-button size="sm" style="border-radius: 0" [view]="(exercise.type == 4) ? 'success' : 'default'" (click)="selectTypeExercise(4)">Match</button>
                    <button tc-button size="sm" style="border-radius: 0" [view]="(exercise.type == 5) ? 'success' : 'default'" (click)="selectTypeExercise(5)">Order</button>
                    <button tc-button size="sm" style="border-bottom-left-radius: 0; border-top-left-radius: 0" [view]="(exercise.type == 7) ? 'success' : 'default'" (click)="selectTypeExercise(7)">Generate</button>
                </div>
            </tc-card>
            <tc-card>
                <div>
    <!--                            <button class="mb-4" tc-button [ngStyle]="{ 'width': '100%' }" (click)="openModal(modalBody, 'Topic list', modalFooter, { closeButton: true, overlayClose: true })">Topic</button>-->
    <!--                            <button class="mb-4" tc-button [ngStyle]="{ 'width': '100%' }" (click)="openModal(modalBody, 'Topic list', modalFooter, { closeButton: true, overlayClose: true })">Related Topics</button>-->

                    <nz-tree-select
                            class="mb-4"
                            style="width: 100%"
                            [nzNodes]="topicList"
                            [nzShowSearch]="true"
                            nzPlaceHolder="Topic"
                            [(ngModel)]="exercise.topicId"
                            (ngModelChange)="onChangeTree($event)"
                    >
                    </nz-tree-select>

                    <nz-tree-select
                            style="width: 100%"
                            [nzNodes]="topicList"
                            [nzShowSearch]="true"
                            nzPlaceHolder="Related Topics"
                            nzCheckable
                            [(ngModel)]="exercise.relativeTopics"
                            (ngModelChange)="onChangeTree($event)"
                    >
                    </nz-tree-select>
                </div>
            </tc-card>

            <tc-card>
                <div>
                    <button *ngIf="exercise.id != null" class="mb-3" tc-button [ngStyle]="{ 'width': '100%' }" [view]="'accent'" (click)="copyProblem()">Copy Question</button>
                    <button tc-button [ngStyle]="{ 'width': '100%' }" [view]="'success'" (click)="saveExercise()">Save</button>
                </div>
            </tc-card>
        </div>


        <tc-card class="open col-12">
            <div class="col-12">
                <tc-form-group>
                    <tc-textarea [placeholder]="'Description'" [height]="'16rem'"></tc-textarea>
                </tc-form-group>
                <tc-form-group>
                    <tc-input placeholder="Right Answer"></tc-input>
                </tc-form-group>
            </div>
        </tc-card>
    </div>
</div>
