<h6>{{ day ? (day.day | date: 'fullDate') : '' }}</h6>
<tc-card class="mb-0" [padding]="0">
    <nz-table #basicTable
              [nzData]="tableData"
              [nzShowPagination]="false"
              [nzSize]="'default'"
    >
        <thead>
        <tr>
            <th>Аты-жөні</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data" class="mainTable">
            <td>{{ data.fio }}</td>
            <td>
                <tc-switcher [(ngModel)]="data.statusB"></tc-switcher>
            </td>
        </tr>
        </tbody>
    </nz-table>
</tc-card>

<button tc-button class="mt-4"
        (click)="saveAttendance()"
        [view]="'info'">Save</button>


<ng-container>
    <ng-template #modalHeader class="modal">
        <h2 class="title">Modal title</h2>
        <div class="actions">
            <tc-badge [view]="'warning'">New</tc-badge>
        </div>
    </ng-template>

    <ng-template #modalBody>
        <profiles-mini-list [studentsSelected]="studentsSelected"></profiles-mini-list>
    </ng-template>

    <ng-template #modalBodySave>
    </ng-template>

    <ng-template #modalFooter>
        <div class="actions" [ngStyle]="{textAlign: 'right', display: 'block'}">
            <!--            <button tc-button [view]="'error'" (click)="closeModal()">Close</button>-->
            <button tc-button [view]="'success'" (click)="submitModal()">Submit</button>
        </div>
    </ng-template>

    <ng-template #modalFooterSave>
        <div class="actions" [ngStyle]="{textAlign: 'right', display: 'block'}">
            <!--            <button tc-button [view]="'error'" (click)="closeModal()">Close</button>-->
            <button tc-button [view]="'success'" (click)="submitModalSave()">Submit</button>
        </div>
    </ng-template>
</ng-container>

