:host {
  .title-list, .desc {
    color: #ffffff;
    text-shadow: 0px 3px 8px #000000;
  }

  .desc {
    font-size: 1.4rem;
  }

  .day {
    width: 100%;
    font-size: 2rem;
  }

  .calendar {
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
  }

  .сalendars {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .level h5 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .progress {
    display: -webkit-box;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
  }

  .bg-success {
    background-color: #0cc27e !important;
  }

  .progress-bar {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #009da0;
    -webkit-transition: width .6s;
    transition: width .6s ease;
  }

  .progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
  }

  .progress-bar-animated {
    -webkit-animation: 1s linear infinite progress-bar-stripes;
    animation: 1s linear infinite progress-bar-stripes;
  }

  .level .progress {
    margin-bottom: 35px;
  }

  .backimg {
    padding-top: 56.25%;
    border-radius: 5px;
  }

  .title {
    font-size: 1.4rem;
    margin: 5px 0;
  }

  .list-magazine {
    margin-bottom: 11px;
    margin-top: 11px;
    cursor: pointer;
  }
}
