@import '../../../../../assets/sass/variables';

:host {
  .grade-label {
    tc-form-group .row {
      flex-wrap: nowrap;
    }

    label {
      white-space: nowrap;
      line-height: 30px;
      margin-bottom: 0;
      text-overflow: clip;
      overflow: hidden;
    }


    @media only screen and (max-width: 400px) {

    }
  }

  .month-btn {
    display: flex;
    justify-content: flex-start;
    margin-left: -10px;
    margin-right: -10px;
    tc-badge {
      margin-left: 10px;
      margin-right: 10px;
      cursor: pointer;
    }
    tc-badge:hover {
      background-color: #40a9ff !important;
    }
  }

  .сalendars {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

  }
  .calendar {
    padding: 0;
    margin-left: 3px;
    margin-right: 3px;
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    font-size: 10px;
  }
  .day {
    width: 100%;
    font-size: 1rem;
  }
}
